# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# IDE
.vscode/
.idea/

# Logs
*.log

# Git
.git/
.gitignore

# Docker
Dockerfile
.dockerignore

# Environment
.env
.env.local
.env.*.local

# Test coverage
coverage/

# Angular
.angular/